Q1. Write a code to reverse a string

In [ ]:
name = "Onkesh"
print("Before reversing...")
print(name)
name = name[::-1]
print("After reversing...")
print(name)

Before reversing...
Onkesh
After reversing...
hseknO

Q2. Write a code to count the number of vowels in a string

In [ ]:
str1 = "flinvirrehfiorhreiepfoe"
cnt = 0
for i in str1:
  if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u'):
    cnt += 1
print(f"There are {cnt} vowels in {str}")

There are 10 vowels in <class 'str'>

Q3. Write a code to check if a given string is a palindrome or not

In [ ]:
str1 = "abccba"
s = 0
e = len(str1) - 1
flag = True
while(s <= e):
  if(str1[s] != str1[e]):
    flag = False
    break
  s += 1
  e -= 1
if(flag):
  print(f"{str1} is palindrome")
else :
  print(f"{str1} is not palindrome")

abccba is palindrome

Q4. Write a code to check if two given strings are anagrams of each other

In [ ]:
from collections import Counter
str1 = "below"
str2 = "elbow"
if(Counter(str1) == Counter(str2)):
  print(f"{str1} and {str2} are anagrams")
else :
  print(f"{str1} and {str2} are not anagrams")

below and elbow are anagrams

Q5. Write a code to find all occurrences of a given substring within another string

In [ ]:
str1 = "this is just a test to test your ability, test is important, test is test, test is everything, test"
str2 = "test"
cnt = 0
start = 0
while True:
  start = str1.find(str2, start)
  if(start == -1):
    break
  cnt += 1
  start += len(str2)

print(f"There are {cnt} occurences of {str2}")

There are 7 occurences of test

Q6. Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
str1 = "aaabbbccccaaa"
str2 = ""
print("Before compression...")
print(str1)
occ = []
cnt = 1
for i in range(1, len(str1)):
  if str1[i-1] == str1[i]:
    cnt += 1
  else :
    occ.append(str1[i-1] + str(cnt))
    cnt = 1

occ.append(str1[i-1] + str(cnt))
str2 = str2.join(occ)
print("After compression...")
print(str2)

Before compression...
aaabbbccccaaa
After compression...
a3b3c4a3

Q7. Write a code to determine if a string has all unique characters

In [ ]:
str1 = "abcde"
flag = True
x = Counter(str1)
for i in x.values():
  if(i > 1):
    flag = False
    break
if(flag):
  print(f"{str1} has unique characters")
else :
  print(f"{str1} has no unique characters")

abcde has unique characters

Q8. Write a code to convert a given string to uppercase or lowercase

In [ ]:
str1 = "AbCdE"
print(f"{str1} in lowercase...")
str1 = str1.lower()
print(str1)
print(f"{str1} in uppercase...")
str1 = str1.upper()
print(str1)

AbCdE in lowercase...
abcde
abcde in uppercase...
ABCDE

Q9. Write a code to count the number of words in a string

In [ ]:
str1 = "   This string has extra spaces.  "
str1 = str1.lstrip()
str1 = str1.rstrip()
print(f"There are {len(str1.split(' '))} words in the string")

There are 5 words in the string

Q10. Write a code to concatenate two strings without using the + operator

In [ ]:
str1 = "abc"
str2 = "def"
str3 = ""
str3 = str3.join([str1, str2])
print(str3)

abcdef

Q11. Write a code to remove all occurrences of a specific element from a list

In [ ]:
lst = [1, 2, 3, 4, 2, 5, 2, 6]
print("Original list...")
print(lst)
ele = int(input("Enter the element to remove:"))
for i in lst:
  if i == ele:
    lst.remove(i)

print("New list...")
print(lst)

Original list...
[1, 2, 3, 4, 2, 5, 2, 6]
Enter the element to remove:2
New list...
[1, 3, 4, 5, 6]

Q12. Implement a code to find the second largest number in a given list of integers

In [ ]:
lst = [2, 4, 1, 6, 3, 9]
lst.sort()
print(f"Second largest element in the list is {lst[-2]}")

Second largest element in the list is 6

Q13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [ ]:
lst = [1, 1, 2, 4, 1, 6, 5, 3, 2, 4]
dict = {}
for i in lst:
  if i in dict:
    dict[i] += 1
  else :
    dict[i] = 1

print(dict)

{1: 3, 2: 2, 4: 2, 6: 1, 5: 1, 3: 1}

Q14. Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
lst = [1, 2, 3, 4, 5]
s = 0
e = len(lst) - 1
while (s <= e):
  lst[s], lst[e] = lst[e], lst[s]
  s += 1
  e -= 1

print(f"Reversed list is {lst}")

Reversed list is [5, 4, 3, 2, 1]

Q15. Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [ ]:
lst = [1, 1, 2, 4, 1, 6, 5, 3, 2, 4]
for i in range(len(lst)):
  j = i + 1
  while(j < len(lst)):
    if(lst[i] == lst[j]):
      lst.pop(j)
    else :
      j += 1

print(f"The new list is {lst}")

The new list is [1, 2, 4, 6, 5, 3]

Q16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
lst = [1, 2, 5, 7, 9, 10]
flag = True
for i in range(len(lst)-1):
  if(lst[i+1] < lst[i]):
    flag = False
    print("List is not sorted")
    break

if(flag):
  print("List is sorted")

List is sorted

Q17. Write a code to merge two sorted lists into a single sorted list

In [ ]:
lst1 = [2, 4, 6, 8]
lst2 = [3, 4, 9, 10]
lst3 = []
i = 0
j = 0
while(i < len(lst1) and j < len(lst2)):
  if(lst1[i] <= lst2[j]):
    lst3.append(lst1[i])
    i += 1
  else :
    lst3.append(lst2[j])
    j += 1

while(i < len(lst1)):
  lst3.append(lst1[i])
  i += 1

while(j < len(lst2)):
  lst3.append(lst2[j])
  j += 1

print(f"Sorted list is {lst3}")

Sorted list is [2, 3, 4, 4, 6, 8, 9, 10]

Q18. Implement a code to find the intersection of two given lists

In [ ]:
lst1 = [1, 2, 3, 4, 5]
lst2 = [4, 5, 6, 7, 8]
lst3 = []
for i in lst1:
  if i in lst2:
    lst3.append(i)

print(f"Intersection of two lists is {lst3}")

Intersection of two lists is [4, 5]

Q19. Create a code to find the union of two lists without duplicates

In [ ]:
lst1 = [1, 2, 3, 4, 5]
lst2 = [4, 5, 6, 7, 8]
for i in lst2:
  lst1.append(i)
lst1 = set(lst1)
print(f"Union of two lists is {lst1}")

Union of two lists is {1, 2, 3, 4, 5, 6, 7, 8}

Q20. Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
import random
lst = [1, 2, 3, 4, 5, 6, 7, 8]
print("Before shuffle...")
print(lst)
for i in range(len(lst)-1, 0, -1):
  j = random.randint(0, i)
  lst[i], lst[j] = lst[j], lst[i]

print("After shuffle...")
print(lst)

Before shuffle...
[1, 2, 3, 4, 5, 6, 7, 8]
After shuffle...
[1, 2, 4, 8, 3, 6, 7, 5]

Q21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [ ]:
t1 = (1, 2, 3, 4, 5)
t2 = (4, 5, 6, 7, 8)
t3 = []
for i in t1:
  if i in t2:
    t3.append(i)

t3 = tuple(t3)
print(f"New tuple is {t3}")

New tuple is (4, 5)

Q22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

In [ ]:
s1 = input("Enter first set of integers separated by commas:")
s2 = input("Enter second set of integers separated by commas:")
s1 = set(s1.split(','))
s2 = set(s2.split(','))
print(f"Intersection of two sets is {s1.intersection(s2)}")

Enter first set of integers separated by commas:1,2,3,4,5
Enter second set of integers separated by commas:3,4,5,6,7
Intersection of two sets is {'4', '5', '3'}

Q23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples

In [ ]:
t1 = input("Enter elemets of tuple 1 separated by commas:")
t2 = input("Enter elemets of tuple 2 separated by commas:")
t1 = map(int, t1.split(','))
t2 = map(int, t2.split(','))
t3 = []
for i in t1:
  t3.append(i)
for i in t2:
  t3.append(i)
t3 = tuple(t3)
print(f"Concatenated tuple is {t3}")

Enter elemets of tuple 1 separated by commas:1,2,4,5
Enter elemets of tuple 2 separated by commas:6,7,9,10
Concatenated tuple is (1, 2, 4, 5, 6, 7, 9, 10)

Q24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

In [ ]:
s1 = input("Enter the first set of strings separated by commas:")
s2 = input("Enter the second set of strings separated by commas:")
s1 = set(s1.split(','))
s2 = set(s2.split(','))
for i in s1:
  if i not in s2:
    print(i, end=" ")

Enter the first set of strings separated by commas:abc,def,ghi,jkl
Enter the second set of strings separated by commas:mno,pqr,abc,def
ghi jkl

Q25. Create a code that takes a tuple and two integers as input. The function
should return a new tuple containing elements from the original tuple within the specified range of indices

In [ ]:
t1 = input("Enter the elements of tuple separated by commas:")
t1 = map(int, t1.split(','))
s = int(input("Enter the starting index:"))
e = int(input("Enter the ending index:"))
t2 = []
for i in t1:
  if(i >= s and i <= e):
    t2.append(i)

t2 = tuple(t2)
print(f"The new tuple is {t2}")

Enter the elements of tuple separated by commas:1,2,3,4,5,6,7,8,9
Enter the starting index:4
Enter the ending index:8
The new tuple is (4, 5, 6, 7, 8)

Q26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [ ]:
s1 = input("Enter the first set of characters separated by commas:")
s2 = input("Enter the second set of characters separated by commas:")
s1 = set(s1.split(','))
s2 = set(s2.split(','))
print(f"Union of sets is {s1.union(s2)}")

Enter the first set of characters separated by commas:a,b,c,d,e,f
Enter the second set of characters separated by commas:b,e,w,q,c,s,a
Union of sets is {'w', 'a', 'q', 'e', 'd', 's', 'c', 'f', 'b'}

Q27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [ ]:
t1 = input("Enter the elements of tuple:")
t1 = map(int, t1.split(','))
t1 = tuple(t1)
max_value, min_value = max(t1), min(t1)
print(f"The maximum value is {max_value}")
print(f"The minimum value is {min_value}")

Enter the elements of tuple:5, 3, 9, 1, 7
The maximum value is 9
The minimum value is 1

Q28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}
print(f"Union of two sets is {s1.union(s2)}")
print(f"Intersection of two sets is {s1.intersection(s2)}")
print(f"Difference of two sets is {s1.difference(s2)}")

Union of two sets is {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of two sets is {4, 5}
Difference of two sets is {1, 2, 3}

Q29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [ ]:
t1 = (1,2,2,2,2,4,5,9,2)
element = 2
cnt = 0
for i in t1:
  if i == element:
    cnt += 1

print(f"The count of {element} in tuple is {cnt}")

The count of 2 in tuple is 5

Q30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [ ]:
s1 = input("Enter the first set of strings:")
s2 = input("Enter the second set of strings:")
s1 = set(s1.split(','))
s2 = set(s2.split(','))
print(f"The symmetric difference is {s1.symmetric_difference(s2)}")

Enter the first set of strings:abc,def,ghi,jkl
Enter the second set of strings:jkl,mno,pqr,abc
The symmetric difference is {'def', 'mno', 'ghi', 'pqr'}

Q31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

In [ ]:
words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
words_freq = {}
for i in words:
  if i in words_freq.keys():
    words_freq[i] += 1
  else :
    words_freq[i] = 1

print(f"The dictionary is {words_freq}")

The dictionary is {'apple': 3, 'banana': 2, 'orange': 1}

Q32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [ ]:
dict1 = {'apple': 5, 'banana': 3, 'orange': 2}
dict2 = {'banana': 2, 'orange': 4, 'grape': 6}
dict3 = {}
for i in dict1:
  dict3[i] = dict1[i]
for i in dict2:
  if i in dict3:
    dict3[i] += dict2[i]
  else :
    dict3[i] = dict2[i]
print(dict3)

{'apple': 5, 'banana': 5, 'orange': 6, 'grape': 6}

Q33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [ ]:
def get_value(nested_dict, keys):
  current_dict = nested_dict
  for key in keys:
    if isinstance(current_dict, dict) and key in current_dict:
      current_dict = current_dict[key]
    else :
      return None
  return current_dict


nested_dict = {'a' : {'b' : {'c' : 42}}}
keys = ['a', 'b', 'c']
print(get_value(nested_dict, keys))
keys = ['a', 'b', 'd']
print(get_value(nested_dict, keys))

42
None

Q34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [ ]:
def sort_dict_by_values(d, ascending=True):
    sorted_dict = dict(sorted(d.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict

my_dict = {'apple': 5, 'banana': 2, 'orange': 8, 'grape': 1}
print(sort_dict_by_values(my_dict, ascending=True))

{'grape': 1, 'banana': 2, 'apple': 5, 'orange': 8}

Q35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary

In [ ]:
def invert_dict(d):
    inverted_dict = {}
    for key, value in d.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict

my_dict = {'apple': 5, 'banana': 2, 'orange': 5, 'grape': 1}
inverted = invert_dict(my_dict)
print(inverted)

{5: ['apple', 'orange'], 2: ['banana'], 1: ['grape']}